@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@using HelloWorld.Models;

@{
    var person = (Person)ViewData["APerson"];
}
<h2>Person</h2>
<h6> <input type="text" readonly onselect="myFunction()" value="First Name: @person.FirstName" /> </h6>
<h6> <input type="text" readonly size="@person.LastName" value="Last Name: @person.LastName"></h6>
<h6><input type="text" readonly size="@person.EmailAddress" value="Email Address: @person.EmailAddress"></h6>



<script>
    function myFunction() {
        alert("You found a hidden message! You win 1,000 internets!");
    }
</script>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>